include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
	head(lang="en")
		include pug/metatags.pug
		+title('Главная')
		include pug/styles.pug
	body
		include pug/svg.pug
		h1 Цероковь Основа
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iusto earum doloremque est reprehenderit neque ipsa. Aspernatur tempora dolores asperiores accusamus consequuntur consequatur, saepe aut illum culpa optio! Molestiae, nobis.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit incidunt corporis non commodi qui, debitis, saepe nulla voluptates, itaque recusandae veniam excepturi assumenda quod asperiores, nobis a culpa ea eligendi.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fugiat dolor similique deleniti vel eaque aspernatur sequi eos minima est iure laudantium, dolore, omnis itaque pariatur ut voluptas. Non, unde.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto tempore sequi labore ducimus fugiat minima quo, laudantium laborum iste cumque fugit eaque ut! Eligendi aspernatur quis, rem voluptas sit.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iusto earum doloremque est reprehenderit neque ipsa. Aspernatur tempora dolores asperiores accusamus consequuntur consequatur, saepe aut illum culpa optio! Molestiae, nobis.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit incidunt corporis non commodi qui, debitis, saepe nulla voluptates, itaque recusandae veniam excepturi assumenda quod asperiores, nobis a culpa ea eligendi.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fugiat dolor similique deleniti vel eaque aspernatur sequi eos minima est iure laudantium, dolore, omnis itaque pariatur ut voluptas. Non, unde.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto tempore sequi labore ducimus fugiat minima quo, laudantium laborum iste cumque fugit eaque ut! Eligendi aspernatur quis, rem voluptas sit.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iusto earum doloremque est reprehenderit neque ipsa. Aspernatur tempora dolores asperiores accusamus consequuntur consequatur, saepe aut illum culpa optio! Molestiae, nobis.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit incidunt corporis non commodi qui, debitis, saepe nulla voluptates, itaque recusandae veniam excepturi assumenda quod asperiores, nobis a culpa ea eligendi.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fugiat dolor similique deleniti vel eaque aspernatur sequi eos minima est iure laudantium, dolore, omnis itaque pariatur ut voluptas. Non, unde.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto tempore sequi labore ducimus fugiat minima quo, laudantium laborum iste cumque fugit eaque ut! Eligendi aspernatur quis, rem voluptas sit.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iusto earum doloremque est reprehenderit neque ipsa. Aspernatur tempora dolores asperiores accusamus consequuntur consequatur, saepe aut illum culpa optio! Molestiae, nobis.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit incidunt corporis non commodi qui, debitis, saepe nulla voluptates, itaque recusandae veniam excepturi assumenda quod asperiores, nobis a culpa ea eligendi.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fugiat dolor similique deleniti vel eaque aspernatur sequi eos minima est iure laudantium, dolore, omnis itaque pariatur ut voluptas. Non, unde.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto tempore sequi labore ducimus fugiat minima quo, laudantium laborum iste cumque fugit eaque ut! Eligendi aspernatur quis, rem voluptas sit.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iusto earum doloremque est reprehenderit neque ipsa. Aspernatur tempora dolores asperiores accusamus consequuntur consequatur, saepe aut illum culpa optio! Molestiae, nobis.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit incidunt corporis non commodi qui, debitis, saepe nulla voluptates, itaque recusandae veniam excepturi assumenda quod asperiores, nobis a culpa ea eligendi.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fugiat dolor similique deleniti vel eaque aspernatur sequi eos minima est iure laudantium, dolore, omnis itaque pariatur ut voluptas. Non, unde.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto tempore sequi labore ducimus fugiat minima quo, laudantium laborum iste cumque fugit eaque ut! Eligendi aspernatur quis, rem voluptas sit.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iusto earum doloremque est reprehenderit neque ipsa. Aspernatur tempora dolores asperiores accusamus consequuntur consequatur, saepe aut illum culpa optio! Molestiae, nobis.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit incidunt corporis non commodi qui, debitis, saepe nulla voluptates, itaque recusandae veniam excepturi assumenda quod asperiores, nobis a culpa ea eligendi.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fugiat dolor similique deleniti vel eaque aspernatur sequi eos minima est iure laudantium, dolore, omnis itaque pariatur ut voluptas. Non, unde.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto tempore sequi labore ducimus fugiat minima quo, laudantium laborum iste cumque fugit eaque ut! Eligendi aspernatur quis, rem voluptas sit.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iusto earum doloremque est reprehenderit neque ipsa. Aspernatur tempora dolores asperiores accusamus consequuntur consequatur, saepe aut illum culpa optio! Molestiae, nobis.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit incidunt corporis non commodi qui, debitis, saepe nulla voluptates, itaque recusandae veniam excepturi assumenda quod asperiores, nobis a culpa ea eligendi.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fugiat dolor similique deleniti vel eaque aspernatur sequi eos minima est iure laudantium, dolore, omnis itaque pariatur ut voluptas. Non, unde.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto tempore sequi labore ducimus fugiat minima quo, laudantium laborum iste cumque fugit eaque ut! Eligendi aspernatur quis, rem voluptas sit.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iusto earum doloremque est reprehenderit neque ipsa. Aspernatur tempora dolores asperiores accusamus consequuntur consequatur, saepe aut illum culpa optio! Molestiae, nobis.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit incidunt corporis non commodi qui, debitis, saepe nulla voluptates, itaque recusandae veniam excepturi assumenda quod asperiores, nobis a culpa ea eligendi.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fugiat dolor similique deleniti vel eaque aspernatur sequi eos minima est iure laudantium, dolore, omnis itaque pariatur ut voluptas. Non, unde.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto tempore sequi labore ducimus fugiat minima quo, laudantium laborum iste cumque fugit eaque ut! Eligendi aspernatur quis, rem voluptas sit.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iusto earum doloremque est reprehenderit neque ipsa. Aspernatur tempora dolores asperiores accusamus consequuntur consequatur, saepe aut illum culpa optio! Molestiae, nobis.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit incidunt corporis non commodi qui, debitis, saepe nulla voluptates, itaque recusandae veniam excepturi assumenda quod asperiores, nobis a culpa ea eligendi.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fugiat dolor similique deleniti vel eaque aspernatur sequi eos minima est iure laudantium, dolore, omnis itaque pariatur ut voluptas. Non, unde.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto tempore sequi labore ducimus fugiat minima quo, laudantium laborum iste cumque fugit eaque ut! Eligendi aspernatur quis, rem voluptas sit.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iusto earum doloremque est reprehenderit neque ipsa. Aspernatur tempora dolores asperiores accusamus consequuntur consequatur, saepe aut illum culpa optio! Molestiae, nobis.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit incidunt corporis non commodi qui, debitis, saepe nulla voluptates, itaque recusandae veniam excepturi assumenda quod asperiores, nobis a culpa ea eligendi.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fugiat dolor similique deleniti vel eaque aspernatur sequi eos minima est iure laudantium, dolore, omnis itaque pariatur ut voluptas. Non, unde.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto tempore sequi labore ducimus fugiat minima quo, laudantium laborum iste cumque fugit eaque ut! Eligendi aspernatur quis, rem voluptas sit.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iusto earum doloremque est reprehenderit neque ipsa. Aspernatur tempora dolores asperiores accusamus consequuntur consequatur, saepe aut illum culpa optio! Molestiae, nobis.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit incidunt corporis non commodi qui, debitis, saepe nulla voluptates, itaque recusandae veniam excepturi assumenda quod asperiores, nobis a culpa ea eligendi.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fugiat dolor similique deleniti vel eaque aspernatur sequi eos minima est iure laudantium, dolore, omnis itaque pariatur ut voluptas. Non, unde.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto tempore sequi labore ducimus fugiat minima quo, laudantium laborum iste cumque fugit eaque ut! Eligendi aspernatur quis, rem voluptas sit.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iusto earum doloremque est reprehenderit neque ipsa. Aspernatur tempora dolores asperiores accusamus consequuntur consequatur, saepe aut illum culpa optio! Molestiae, nobis.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit incidunt corporis non commodi qui, debitis, saepe nulla voluptates, itaque recusandae veniam excepturi assumenda quod asperiores, nobis a culpa ea eligendi.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fugiat dolor similique deleniti vel eaque aspernatur sequi eos minima est iure laudantium, dolore, omnis itaque pariatur ut voluptas. Non, unde.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto tempore sequi labore ducimus fugiat minima quo, laudantium laborum iste cumque fugit eaque ut! Eligendi aspernatur quis, rem voluptas sit.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iusto earum doloremque est reprehenderit neque ipsa. Aspernatur tempora dolores asperiores accusamus consequuntur consequatur, saepe aut illum culpa optio! Molestiae, nobis.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit incidunt corporis non commodi qui, debitis, saepe nulla voluptates, itaque recusandae veniam excepturi assumenda quod asperiores, nobis a culpa ea eligendi.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fugiat dolor similique deleniti vel eaque aspernatur sequi eos minima est iure laudantium, dolore, omnis itaque pariatur ut voluptas. Non, unde.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto tempore sequi labore ducimus fugiat minima quo, laudantium laborum iste cumque fugit eaque ut! Eligendi aspernatur quis, rem voluptas sit.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iusto earum doloremque est reprehenderit neque ipsa. Aspernatur tempora dolores asperiores accusamus consequuntur consequatur, saepe aut illum culpa optio! Molestiae, nobis.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit incidunt corporis non commodi qui, debitis, saepe nulla voluptates, itaque recusandae veniam excepturi assumenda quod asperiores, nobis a culpa ea eligendi.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fugiat dolor similique deleniti vel eaque aspernatur sequi eos minima est iure laudantium, dolore, omnis itaque pariatur ut voluptas. Non, unde.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto tempore sequi labore ducimus fugiat minima quo, laudantium laborum iste cumque fugit eaque ut! Eligendi aspernatur quis, rem voluptas sit.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iusto earum doloremque est reprehenderit neque ipsa. Aspernatur tempora dolores asperiores accusamus consequuntur consequatur, saepe aut illum culpa optio! Molestiae, nobis.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit incidunt corporis non commodi qui, debitis, saepe nulla voluptates, itaque recusandae veniam excepturi assumenda quod asperiores, nobis a culpa ea eligendi.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fugiat dolor similique deleniti vel eaque aspernatur sequi eos minima est iure laudantium, dolore, omnis itaque pariatur ut voluptas. Non, unde.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto tempore sequi labore ducimus fugiat minima quo, laudantium laborum iste cumque fugit eaque ut! Eligendi aspernatur quis, rem voluptas sit.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iusto earum doloremque est reprehenderit neque ipsa. Aspernatur tempora dolores asperiores accusamus consequuntur consequatur, saepe aut illum culpa optio! Molestiae, nobis.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit incidunt corporis non commodi qui, debitis, saepe nulla voluptates, itaque recusandae veniam excepturi assumenda quod asperiores, nobis a culpa ea eligendi.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fugiat dolor similique deleniti vel eaque aspernatur sequi eos minima est iure laudantium, dolore, omnis itaque pariatur ut voluptas. Non, unde.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto tempore sequi labore ducimus fugiat minima quo, laudantium laborum iste cumque fugit eaque ut! Eligendi aspernatur quis, rem voluptas sit.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iusto earum doloremque est reprehenderit neque ipsa. Aspernatur tempora dolores asperiores accusamus consequuntur consequatur, saepe aut illum culpa optio! Molestiae, nobis.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit incidunt corporis non commodi qui, debitis, saepe nulla voluptates, itaque recusandae veniam excepturi assumenda quod asperiores, nobis a culpa ea eligendi.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate fugiat dolor similique deleniti vel eaque aspernatur sequi eos minima est iure laudantium, dolore, omnis itaque pariatur ut voluptas. Non, unde.
		.medium-3.columns  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum iusto tempore sequi labore ducimus fugiat minima quo, laudantium laborum iste cumque fugit eaque ut! Eligendi aspernatur quis, rem voluptas sit.
		

		//- Code here


		include pug/scripts.pug
